:root{
    --green-color :  #759242;
    --background-color:  #F2F2EF;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Source Serif 4', serif;
    font-size: 1.1rem;
}

.layout{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 3rem;
}

.preview{
    display: flex;
    flex-direction: column;
}

.preview-page{
    background-color: var(--background-color);
    min-height: 1122px;
    width: 794px;
    padding: 3rem;
    border: 1px solid var(--green-color);
}

.header{
    display: flex;
    align-items: center;
}

.personal-informations{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.personal-info{
    display: flex;
    justify-content: flex-start;    
}

.personal-info-link{
    flex-direction: row;
}
.data-container{
    width: 15rem;
    display: flex;
    align-items: flex-start;
    padding-left: 1.5rem;
}

.name{
    padding-left: 1.5rem;
}

.data-container.time-data{
    width: 9rem;
}

i{
    padding-right: 0.5rem;
}

.profile-pics{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--green-color);
}

.education{
    padding-top: 2rem;
}

.preview-title{
    border-bottom: 1px solid var(--green-color);
}

.info-container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.time-wraper{
    display: flex;
    justify-content: space-between;
}

.pdf-download-btn{
    align-self: center;
    margin-top: 1rem;
    width: fit-content;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 2rem;
    width: 600px;
}

.form-container-wraper{
    background-color: var(--background-color);
    padding: 2rem;
}

.title{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

input, #responsibilities{
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    outline: none;
}

label{
    align-self: center;
    font-size: 1.2rem;
    padding-top: 1rem;
}

button{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.responsibilities{
    overflow-wrap: break-word;
    color: rgb(92, 91, 91);
}

.data-card{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.delete-btn{
    width: fit-content;
}